.THIS .matchStatus{
    border: 3px dashed #3b888b;
    background: rgba(75, 202, 129, 0.08);
}

.THIS .disabled{
    background-color: rgb(236, 235, 234);
    border-color: #a8b7c7;
}

.THIS .slds-text .slds-box--border{
    background-color: rgb(56, 210, 41);
}